body {
  background: black;
  color: white;
  z-index: 1;
}
div.nav {
  border-radius: 100px;
  width: 100%;
  box-shadow: 10px 10px 2px #d3d3d3;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  z-index: 10;
}
ul.nav-links li {
  color: black;
}
